modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
NEXT_PUBLIC_SUPABASE_URL = "https://gzgzxpqmysfemwgmwova.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd6Z3p4cHFteXNmZW13Z213b3ZhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2MDk2OTEsImV4cCI6MjA4ODE4NTY5MX0.6xIZjQ_QBpXI4kJ6K--2rtTnVB2Nm8b5b5N_KQ11xvI"
SUPABASE_DB_PASSWORD = "l0SF7XNEAcVQs05M-Y5OivjPx_CRuWXW"
